<?= "<?php\n" ?>

namespace <?= $namespace ?>;

use yii\behaviors\BlameableBehavior;
use yii\behaviors\TimestampBehavior;
use yii\db\ActiveRecord;

/**
 * @OA\Schema(
 *   schema="<?= $className ?>",
 *   title="<?= $className ?> Model",
 *   description="This model is used to access <?= $tableName ?> data",
 *   required={"<?= implode('", "', $requires) ?>"},
<?php foreach($annotations as $idx=>$annotation): ?>
 *   @OA\Property(<?= $annotation ?>)<?= ($idx != $lastAnnotationNum) ? ',' : '' ?>

<?php endforeach ?>
 * )
 *
 * @version 1.0.0
 */
class <?= $className ?> extends ActiveRecord
{
    /**
     * Return table name of <?= $tableName ?>.
     *
     * @return string
     */
    public static function tableName()
    {
        return '<?= $tableName ?>';
    }

    /**
     * Use timestamp to store time of login, update and create
     *
     * @return array<int, mixed>
     */
    public function behaviors()
    {
        return [
<?php if (isset($attributes['created_by']) && isset($attributes['updated_by'])): ?>
            [
                'class' => BlameableBehavior::className(),
                'defaultValue' => 0,
            ],
<?php endif ?>
<?php if (isset($attributes['created_at']) && isset($attributes['updated_at'])): ?>
            TimestampBehavior::className()
<?php endif; ?>
        ];
    }

    /**
     * rules
     *
     * @return array<int, mixed>
     */
    public function rules()
    {
        return [
<?= trim($rules, ',') . "\n" ?>
        ];
    }

    /**
     * return extra fields
     *
     * @return string[]
     */
    public function extraFields()
    {
<?= $extraFields . "\n" ?>
    }

    /**
     * declare relation for 1 to many
     *
     * @return ActiveQuery[]|ActiveQuery
     */
    public function getXXXXXXs(): array|ActiveQuery
    {
        return $this->hasMany(XXXXXX::class, ['id'=>'id']);
    }

    /**
     * declare relation for 1 to 1
     *
     * @return ActiveQuery|array<string, mixed>|null
     */
    public function getXXXXXX(): ActiveQuery|array|null
    {
        return $this->hasOne(XXXXXX::class, ['id'=>'id']);
    }
}
