<?= "<?php\n" ?>

namespace <?= $namespace ?>;

use yii\behaviors\BlameableBehavior;
use yii\behaviors\TimestampBehavior;
use yii\behaviors\AttributeTypecastBehavior;
use yii\db\ActiveRecord;
use yii\db\ActiveQuery;

/**
 * @OA\Schema(
 *   schema="<?= $className ?>",
 *   title="<?= $className ?> Model",
 *   description="This model is used to access <?= $tableName ?> data",
 *   required={"<?= implode('", "', $requires) ?>"},
<?php foreach($annotations as $idx=>$annotation): ?>
 *   @OA\Property(<?= $annotation ?>)<?= ($idx != $lastAnnotationNum) ? ',' : '' ?>

<?php endforeach ?>
 * )
 *
 * @version 1.0.0
 */
class <?= $className ?> extends ActiveRecord
{
    /**
     * Return table name of <?= $tableName ?>.
     *
     * @return string
     */
    public static function tableName()
    {
        return '<?= $tableName ?>';
    }

    /**
     * Use timestamp to store time of login, update and create
     *
     * @return array<int, mixed>
     */
    public function behaviors()
    {
        return [
            [
                'class' => AttributeTypecastBehavior::class,
                'typecastAfterValidate' => true,
                'typecastBeforeSave' => true,
                'typecastAfterFind' => true,
            ],
<?php if (isset($attributes['created_by']) && isset($attributes['updated_by'])): ?>
            [
                'class' => BlameableBehavior::class,
                'defaultValue' => 0,
            ],
<?php endif ?>
<?php if (isset($attributes['created_at']) && isset($attributes['updated_at'])): ?>
            TimestampBehavior::class
<?php endif; ?>
        ];
    }

    /**
     * rules
     *
     * @return array<int, mixed>
     */
    public function rules()
    {
        return [
<?= trim($rules, ',') . "\n" ?>
        ];
    }

<?php if (isset($attributes['created_by']) || isset($attributes['updated_by'])): ?>
    /**
     * fields
     *
     * @return array<string, mixed>
     */
    public function fields()
    {
        $fields = parent::fields();
<?php if (isset($attributes['created_by'])): ?>
        unset($fields['created_by']);
<?php endif; ?>
<?php if (isset($attributes['updated_by'])): ?>
        unset($fields['updated_by']);
<?php endif; ?>

        return $fields;
    }
<?php endif; ?>

    /**
     * return extra fields
     *
     * @return string[]
     */
    public function extraFields()
    {
<?= $extraFields . "\n" ?>
    }
}
