<?= "<?php\n"; ?>

namespace <?= $name ?>\models\filters;

use yii\base\Model;
use yii\db\Query;

/**
 * This is a collection filter, it defines page, pageSize, sort
 *
 * @OA\Schema()
 *
 */
abstract class AbstractCollectionFilter extends Model
{
    /**
     * @var int $page default: 1
     *
     * @OA\Property(property="page", type="integer", title="Current page", description="Current page", default=1)
     */
    public int $page = 1;

    /**
     * @var int $pageSize default: 20
     *
     * @OA\Property(property="pageSize", type="integer", description="Page size", minimum=1, maximum=50, default=20)
     */
    public int $pageSize = 20;

    /**
     * @var string $sort default: -id
     *
     * @OA\Property(property="sort", type="string", description="Sort column ex: -id means desc by id, id means asc by id")
     */
    public string $sort = '-id';

    /**
     * @var string $fields
     *
     * @OA\Property(property="fields", type="string", description="Select specific fields, using comma be a seperator")
     */
    public $fields;

    /**
     * rules
     *
     * @return array<int, mixed>
     */
    public function rules(): array
    {
        return [
            [['page', 'pageSize', 'sort', 'fields'], 'trim'],
            [['page'], 'integer', 'min'=>1],
            [['pageSize'], 'integer', 'min'=>1, 'max'=>50],
            [['sort', 'fields'], 'string']
        ];
    }

    /**
     * apply
     *
     * @return Query
     */
    abstract public function apply(): Query;
}