<?= "<?php\n"; ?>

namespace <?= $name ?>\controllers;

use Exception;
use OpenApi\Annotations as OA;
use Yii;
use yii\web\HttpException;

/**
 * @OA\OpenApi(
 *     security={{"BearerAuth": {}}},
 *     @OA\Server(
 *         url="https://api.xxx.com",
 *         description="[Dev] APIs server"
 *     ),
 *     @OA\Info(
 *         version="1.0.0",
 *         title="API<?= $name ?>",
 *         description="APIs document of <?= $name ?> that based on Swagger OpenAPI",
 *         termsOfService="http://swagger.io/terms/",
 *         @OA\Contact(name="xxxx"),
 *         @OA\License(name="MIT", identifier="MIT")
 *     ),
 * )
 *
 * @OA\SecurityScheme(
 *     type="http",
 *     scheme="bearer",
 *     in="header",
 *     description="Authentication(Based on User Token): Bearer {Access Token}",
 *     securityScheme="BearerAuth"
 * )
 */
class OpenApiSpecController extends \yii\web\Controller
{
    /**
     * @var string $cache component id of cache
     */
    private $cache = 'cache';

    /**
     * display swagger yaml
     *
     * @param string $format default: yaml
     * @return mixed
     */
    public function actionIndex(string $format = null)
    {
        $cache = $this->module->get($this->cache);
        $cacheKey = 'cache.apidoc.' . $format;
        $openapi = \OpenApi\Generator::scan([
                        Yii::getAlias('<?= $nameAlias ?>'),
                        Yii::getAlias('@app/models')
                    ]);
        $contents = YII_DEBUG ? false : $cache->get($cacheKey);
        if ($format == 'json') {
            if (empty($contents))
                $contents = $openapi->toJson();

            $this->response->format = $this->response::FORMAT_JSON;
        } elseif ($format == 'yaml') {
            if (empty($contents))
                $contents = $openapi->toYaml();

            $this->response->headers->set('Content-Type', 'application/x-yaml');
        } else {
            if (empty($contents)) {
                $viewFile = Yii::getAlias('<?= $nameAlias ?>/views/view_apidoc.php');
                $yamlUri = strstr(\yii\helpers\Url::to(['/apidoc', 'format'=>'yaml'], true), '//');
                $contents = $this->view->renderFile($viewFile, ['yamlUri'=>$yamlUri]);
            }
            $this->response->format = $this->response::FORMAT_HTML;
        }

        // set cache
        $cache->set($cacheKey, $contents, 120);
        $this->response->content = $contents;
        return $this->response;
    }
}
